<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Deliver By</th>
      <th scope="col">Earliest Delivery</th>
      <th scope="col"></th>
    </tr>
  <thead>
  <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <th scope="col">
          <%= link_to order.number, "/orders/#{order.number}"%>
        </th>
        <th scope="col">
          <%= order.deliver_by %>
        </th>
        <th scope="col">
          <%= order.earliest_deliver%>
        </th>
        <th scope="col">
          <%= button_to "delete", admin_order_path(order), method: :delete, class: "btn btn-primary" %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
